body, html {
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
    height: 100%;
	font-family: 'Roboto', sans-serif;
	font-family: 'Work Sans', sans-serif;
	color: #2C2F3E;
	text-align: center;
}

body::after{
	content:"";
	position:fixed; 
	top:0;
	height:100vh;
	left:0;
	right:0;
	z-index:-1;
	background: url(../images/main-bg.jpg) center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.header-text {
	font-weight: 350;
	letter-spacing: .1em; 
	position: relative;
	display: inline-block; 
	padding-bottom: 5px;
	color: black;
}
	
/* Line under header text */
.header-text:before{
	content: "";
	position: absolute;
	width: 50%;
	height: 1px;
	bottom: 0;
	left: 25%;
	border-bottom: 2px solid #17a2b8;
}
/******************************* NAV BAR *******************************/
.nav-link  {
	font-family: 'Rubik', sans-serif;
	letter-spacing: .3em;
} 
/******************************* HOME SECTION *******************************/
#home {
	height: 100%;
	min-height: 600px;	
}

.home-text {
	color: #dcdcdc;
	font-weight: 350;
	letter-spacing: .2em; 
	font-size: 4em;
	text-shadow: 3px 5px 2px #212529;
}

.home-text_sub {
	color: #dcdcdc;
	font-weight: 350;
	letter-spacing: .1em; 
	font-size: 3em;
	text-shadow: 3px 5px 2px #212529;
}

.down-arrows {  
	width: 4em;
	height: 5em;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: -10em;
}

.down-arrows path {
	stroke:#b3d7ff;
	fill: transparent;
	stroke-width: 1.5px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

.down-arrows path.arrowOne {
	animation-delay :-1s;
	-webkit-animation-delay:-1s; /* Safari and Chrome */
}

.down-arrows path.arrowTwo {
	animation-delay:-.5s;
	-webkit-animation-delay:-.5s; /* Safari and Chrome */
}

/******************************* ABOUT SECTION *******************************/
#about {
	background: url(../images/about-bg.jpg) no-repeat fixed;
	overflow: hidden;
	background-size: cover;	
}

.about-text {
	padding: 2% 5% 3%;
	color: rgba(0, 0, 0, 0.84); 
	letter-spacing: 2px;
	font-size: 1.5em;
}  

/******************************* SKILLS SECTION *******************************/
.skills-icon_container {
	border-radius: 50%;
	-webkit-box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
	box-shadow: 5px 5px 5px 0px #000000, inset 4px 4px 15px 0px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
	padding: .8em; 
	width: 100%;
}

.skills-text h3 {
	padding-top: 20px;
	font-weight: bold;
	font-size: 1.2em;
	color: rgba(0, 0, 0, 0.84); 
}

.skills-text h4 {
	letter-spacing: 2px; 
	font-size: 1.1em;
} 
/******************************* PORTFOLIO SECTION *******************************/
.project-image_container {
	width: 100%;		
}

.header-text_portfolio {
	color:#adb5bd;
    text-shadow: 3px 5px 2px #0e1824;
	letter-spacing: .15em; 
	font-size: 3em;
}

.header-text_portfolio:before {
	border-bottom: 2px solid #b3e2ff;
}

.project-wrapper {
	padding: 3%;
}

.project-container {
	background: rgb(144, 149, 156);
	border: 3px solid #6c757d;
	color: #1f232f;
	font-size: 1.1em;
}

.project-container:hover {
	transition: .3s;
	-webkit-box-shadow: 6px 8px 26px 2px rgba(7,32,46,0.89); 
	box-shadow: 6px 8px 26px 2px rgba(7,32,46,0.89);
}

.project-text_container {
	padding: 1.5%;
}

.project-btn {
	background: transparent;
	border: 1px solid #1f232f;
	font-size: .8em;
}

.disabled {
	background: transparent;
	border: 1px solid #2C2F3E;
	font-size: .8em;
    opacity: .3;
}
.project-btn:hover {
	background: linear-gradient(to bottom,  #7F7B91, #8799b48c); 
	border: 1px solid  rgb(35, 24, 80);
	transform: translateY(-2px);
	-webkit-box-shadow: 0px 10px 13px -7px #000000, 0px 20px 15px -8px rgba(0,0,0,0); 
	box-shadow: 0px 10px 13px -7px #000000, 0px 20px 15px -8px rgba(0,0,0,0);	
}

/* Lines on the side of project titles */
.project-text_header {
	overflow: hidden;
	font-size: 1.4em;
}

.project-text_header:before,
.project-text_header:after {
	background-color:#2C2F3E;
	content: "";
	display: inline-block;
	height: 2px;
	position: relative;
	vertical-align: middle;
	width: 50%;
}

.project-text_header:before {
	right: 0.2em;
	margin-left: -50%;
}

.project-text_header:after {
	left: 0.2em;
	margin-right: -50%;
}
/******************************* CONTACT SECTION *******************************/
#contact {
	border-top: 3px solid #6c757d;
	background: #1f232f;
	color: #afb6d8c4;	
}

#contact h1 {
	text-shadow: 3px 5px 2px #0e1824;
}

.contact-icon_container img:hover {
	transition: .5s;
	transform: translateY(-5px);
	background: linear-gradient(180deg, rgba(255, 255, 255, 0) 65%, rgba(158, 158, 158, 0.09) 65%);
}

.footer-container {
	border-top: 1px solid #6c757d;
	background: black;
	overflow: hidden;
}
/****************** ANIMATION **********************/
/* Down arrow */
@-webkit-keyframes arrow /*Safari and Chrome*/
{ 0%, 80%, 100% {opacity:0} 40% {opacity:1}}
@keyframes arrow
{ 0%, 80%, 100% {opacity:0} 40% {opacity:1}}
